/* font-family: "Fira Sans", serif; */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Fira Sans", serif;
}
body{
    background-color: #f5f5f5;
}
header, main{
    width: 1280px;
    margin: 0 auto;
    background-color: #f5f5f5;
}


/*     Header Navigation Bar Section
 */

 nav{
    display: flex;
    justify-content: space-between;
    padding: 31px 0;
    align-items: center;
 }

 nav > h1{
    color: rgb(14, 14, 14);
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
 }

 nav > button{
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
    padding: 15px 30px;
    color: rgb(0, 106, 80);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    background-color: #fff;
    cursor: pointer;
    transition: .3s ease-in-out;
 }

nav > button:hover{
    color: #fff;
    background-color:rgb(0, 106, 80);
}


/* Banner Section */


.banner-section{
    display: flex;
    justify-content: space-between;
    padding: 80px 100px;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    margin-top: 20px;
    margin-bottom: 80px;
}

.banner-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-left h4{
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
}

.banner-left h1{
    color: rgb(14, 14, 14);
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
    margin-top: 16px;
    margin-bottom: 24px;
}

.banner-left > button{
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
    padding: 17px 34px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    background-color: rgb(0, 106, 80);
    cursor: pointer;
    transition: .3s ease-in-out;
    width: 50%;
}
.banner-left > button:hover{
    color: rgb(0, 106, 80);
    background-color:rgb(255, 255, 255);
}

/* Pillars of Bd section */

.pillar-bd{
    margin-bottom: 80px;
}

.pillar-bd h1{
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 32px;
}

.pillar-card-wrap{
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

.pillar-card{
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 24px;
}

.pillar-card:hover{
    background-color: rgb(198, 228, 214);
    transition: .3s ease-in-out;
    border: 1px solid rgb(198, 228, 214);
}

.pillar-card img{
    margin-bottom: 24px;
}

.pillar-card h2{
    margin-bottom: 12px;
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.pillar-card p{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}


/* Vision of future section */

.future-section{
    margin-bottom: 32px;
}

.future-title h1{
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 24px;
}

.future-title p{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 32px;
}

.future-card-wrap{
    display: flex;
    gap: 24px;
}

.future-card-1, .future-card-2, .future-card-3{
    border-radius: 16px;
    padding: 32px;
}

/* first card */

.future-card-1 img{
    width: 62px;
}

.future-card-1{
    background-color: rgba(84, 144, 245, 0.2);
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.future-card-1 h2{
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 12px;
    margin-top: 12px;
}

.future-card-1 p{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 12px;
}

.future-card-1 button{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    border-radius: 8px;
    background: rgb(84, 144, 245);
    padding: 11px 20px;
    border: none;
    cursor: pointer;
    width: 50%;
}

/* second card */

.future-card-2 img{
    width: 62px;
}

.future-card-2{
    background-color: rgb(198, 228, 214);
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.future-card-2 h2{
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 12px;
    margin-top: 12px;
}

.future-card-2 p{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 12px;
}

.future-card-2 button{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    border-radius: 8px;
    background:rgb(9, 161, 92);
    padding: 11px 20px;
    border: none;
    cursor: pointer;
    width: 50%;
}

/* third card */

.future-card-3{
    background-color: rgb(247, 235, 207);
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.future-card-3 img{
    width: 62px;
}
.future-card-3 h2{
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 12px;
    margin-top: 12px;
}

.future-card-3 p{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 12px;
}

.future-card-3  button{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    border-radius: 8px;
    background:rgb(255, 194, 57);
    padding: 11px 20px;
    border: none;
    cursor: pointer;
    width: 50%;
}

/* Qutation section */

.qutatio-section{
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
padding: 48px 24px;
background: url(assets/quote-bg.png),#fff;
background-repeat: no-repeat;
background-position: 25px 20px;
margin-bottom: 80px;
}

.qutatio-section p{
    color: rgba(14, 14, 14, 0.8);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 12px;
}

.qutatio-section h2{
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
}


/* Your opinion section */

.opinion-section{
    padding: 32px;
    border-radius: 16px;
    background: rgb(255, 255, 255);
    margin-bottom: 80px;
}

.opinion-title h1{
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 24px;
}

.opinion-ques table{
    width: 100%;
}

.opinion-ques table thead tr th{
    color: rgb(14, 14, 14);
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    padding: 24px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: rgb(198, 228, 214);
}

.opinion-ques table tbody tr td{
    color: rgb(14, 14, 14);
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    padding: 24px;
    border: 1px solid rgba(14, 14, 14, 0.15);  
}
.opinion-ques table tbody tr td select{
    border: 1px solid rgb(14, 14, 14);
    border-radius: 4px;
    background: rgb(198, 228, 214);
    padding: 10px 14px;
    text-align: center;
    color: rgb(14, 14, 14);
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    width: 100%;
}

/* Recent newa section */

.news-section{
    margin-bottom: 56px;
}

.news-title h1{
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 24px;
}

.news-title  p{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 32px;
}

.news-card{
    border-radius: 24px;
    background: rgb(255, 255, 255);
    padding: 48px;
    display: flex;
    justify-content: space-between;
    gap: 32px;
    align-items: center;
    margin-bottom: 24px;
}

.news-img img{
    border-radius: 24px;
}

.news-details h2{
    color: rgba(14, 14, 14, 0.8);
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    margin-bottom: 12px;
}

.publish-time{
    display: flex;
    gap: 12px;
}

.publish-time h5{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 12px 0;
}

.news-details p{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 32px;
}

.news-details button{ border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
    padding: 13px 26px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    background-color:rgb(0, 106, 80);
    cursor: pointer;
    transition: .3s ease-in-out;
    border: 1px solid rgb(0, 106, 80);
 }

 .news-details button:hover{
    color: rgb(0, 106, 80);
    background-color:rgb(255, 255, 255);
    border: 1px solid rgb(0, 106, 80);
}


/* Donate section */

.donate-section{
    margin-bottom: 80px;
}

.donate-title{
    margin-bottom: 32px;
}

.donate-title h1{
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 24px;
    text-align: center;
}

.donate-title p{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.donate-card{
    display: flex;
    justify-content: space-evenly;
}

.donate{
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 40px;
}

.donate h2{
    color: rgba(14, 14, 14, 0.8);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    transition: .3s ease-in-out;
    cursor: pointer;
}

.donate-2{
    background-color: rgb(198, 228, 214);
}

.donate:hover{
    background-color: rgb(198, 228, 214);
}

.donate-custom{
    text-align: center;
    margin-top: 32px;
}

input[type=number]{
    width: 80%;
    text-align: center;
    padding: 20px 40px;
    color: rgba(14, 14, 14, 0.3);
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    border: none;
    border-bottom: 1px solid rgba(14, 14, 14, 0.15);
    background: rgb(255, 255, 255);
    margin-bottom: 32px;
}

input[type=submit]{
    border: 1px solid rgba(14, 14, 14, 0.1);
    border-radius: 8px;
    background: rgb(0, 106, 80);
    padding: 17px 34px;
    color: #fff;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    border: 1px solid rgb(0, 106, 80);
    transition: .3s ease-in-out;
    cursor: pointer;
}

input[type=submit]:hover{
    background-color: #fff;
    border: 1px solid rgb(0, 106, 80);
    color: rgb(0, 106, 80);
}

/* Subscribe Newsletter section */

.subscribe-section{
    margin-bottom: 80px;
    padding: 80px 100px 80px 100px;
    border-radius: 24px;
    background: rgb(198, 228, 214);
}

.subs-title h1{
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 16px;
    text-align: center;
}

.subs-title p{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 24px;
}

.subs-mail{
    text-align: center;
}
input[type=email]{
    padding: 18px 40px;
    width: 520px;
    border: none;
    border-radius: 8px 0px 0px 8px;
    background: rgb(255, 255, 255);
    color: rgba(14, 14, 14, 0.3);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px
}

#subs-btn{
    border-radius: 0px 8px 8px 0px;
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    padding: 15px 34px 15px 34px;
    margin: -10px 0px 0px -3px;
}

.subs-mail h5{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    margin-top: 24px;
}

/* Footer section */

footer{
    background-color: #fff;
    padding: 50px 160px 50px 160px;
    text-align: center;
}

.footer-sec h1{
    color: rgb(14, 14, 14);
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    margin-bottom: 32px;
}

.footer-sec hr{
    width: 1122px;
    margin: 0 auto;
    margin-bottom: 32px;
    border: 1px solid rgba(14, 14, 14, 0.1);
}

.footer-sec ul{
    list-style: none;
}

.footer-sec ul li{
    display: inline-block;
    margin-left: 23px;
}